<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>마이 페이지</title>
</head>
<body>
<form action="">
    {% csrf_token %}
    <input type="text" name="user_email" value="{{ user.user_email }}" readonly>
    <input type="text" name="user_name" value="{{ user.user_name }}" readonly>
    <img src="{{ request.session.thumbnail_image_url }}">
    <button>로그아웃</button>
</form>

<script>

</script>
</body>
</html>